body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

header {
  background-color: #fff;
  padding: 1rem 0;
}

.nav-link {
  color: #000;
  transition: font-size 0.8s ease;
}

.nav-link:hover {
  color: #de06ff;
  font-size: 1.1rem;
}

.logo {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.table-responsive {
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
  background-color: #6a1b9a;
  color: white;
}

.text-purple {
  color: #6a1b9a;
}

@media (max-width: 768px) {
  .nav {
      flex-direction: column;
      background-color: #fff;
  }

  .nav-toggle {
      font-size: 1.5rem;
  }

  .logo {
      margin-bottom: 10px;
  }

  .table-responsive {
      overflow-x: auto;
  }
}

/* nave*/
.nav-toggle {
  cursor: pointer;
  font-size: 1.5rem;
}

.mobile-nav {
  display: none;
}

.mobile-nav.active {
  display: block;
}
